.info-text{
    font-size: 1.4em;
    margin: 100px 0px 0px 100px;
}

.hammer-pivot{
    transform-origin: center;
    width: 1px;
    height: 1px;
    /* background-color: red; */
    rotate: 0deg;
}

.hammer{
    width: 30px;
    transform-origin: bottom;
    transform: translate(-5px, -24px) rotateY(3.14rad);
}

.U{
    transform: translate(18px, -12px);
}

.rest-text{
    transform: translate(34px, -33px);
}